* {
    box-sizing: border-box;
  }
  
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    width: 100%;
    z-index: 999;
    background-color:rgb(30, 30, 30);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    left: 0;
    top: 0;
}  

nav a:link {
    padding: 0.5em;
    color: beige;
    flex-grow: 1;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    outline: 20px;
    outline-color: antiquewhite;
    transition: all 0.3s;
}
nav a:visited {
    padding: 0.5em;
    color: beige;
}
nav a:hover {
    padding: 0.5em;
    background-color:rgb(205, 205, 205);
    color:rgb(45, 45, 45);
    flex-grow: 1.3;
}

.title {
    width: 100%;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.spacer {
    width: 100%;
    height: 10vh;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.spacer2 {
    width: 100%;
    height: 3.5vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

article {
    background-color: rgb(40, 40, 40);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(250, 245, 235);
    margin: 0;
    padding: 20px;
    line-height: 19px;
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer p {
    text-align: center;
    text-transform:uppercase;
    font-size: 0.5em;
    color: #E1DACC;
}

footer {
    background-color: rgb(30, 30, 30);
    padding: 10px;
}



